services:
  gatewayservice:
    container_name: gatewayservice-UniEval
    image: ghcr.io/uo288499/UniEval-TFG/gatewayservice:latest
    profiles: ["dev", "prod"]
    build:
      context: ./gatewayservice
    ports:
      - "8000:8000"
    networks:
      - mynetwork
    environment:
      NODE_ENV: production
      PORT: 8000
      
  webapp:
    container_name: webapp-UniEval
    image: ghcr.io/uo288499/UniEval-TFG/webapp:latest
    profiles: ["dev", "prod"]
    build: 
      context: ./webapp
    depends_on:
      - gatewayservice
    ports:
      - "80:3000"
    environment:
      NODE_ENV: production
      GATEWAY_URL: http://gatewayservice:8000

networks:
  mynetwork:
    driver: bridge